<template>
    <span class="font-normal-1">
        <home-hero
            paddinghero
            headline="About project Athena"
            text="Our Values & Principles"
            button
        ></home-hero>
        <div class="bg-white ">
            <v-container grid-list-lg px-5 class="pb-big">
                <v-layout row wrap>
                    <v-flex xs12 sm12 md3 margin-sides-4>
                        <v-hover>
                            <v-card>
                                <v-card-text class="not-rounded-card-how">
                                    <div>
                                        <h4
                                            class="rounded-custom-text-base mb-2"
                                        >
                                            Vision
                                        </h4>
                                        <h2 class="color-blue">Our Vision</h2>
                                        <br />
                                        <div>
                                            We defeat the SARS-CoV-2 virus
                                        </div>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-hover>
                    </v-flex>
                    <v-flex xs12 sm12 md3 margin-sides-4>
                        <v-hover>
                            <v-card>
                                <v-card-text class="not-rounded-card-how">
                                    <div>
                                        <h4
                                            class="rounded-custom-text-base mb-2"
                                        >
                                            Mission
                                        </h4>
                                        <h2 class="color-blue">Our Mission</h2>
                                        <br />
                                        <div>
                                            We bring as many people as possible
                                            together to provide facts to the
                                            public and to support decision
                                            making on how to deal with the
                                            breakout in a highly coordinated and
                                            efficient way. Actionable insights
                                            may also lead to the fast
                                            development of products that help
                                            fight the virus.
                                        </div>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-hover>
                    </v-flex>
                    <v-flex xs12 sm12 md3 margin-sides-4>
                        <v-hover>
                            <v-card>
                                <v-card-text class="not-rounded-card-how">
                                    <div>
                                        <h4
                                            class="rounded-custom-text-base mb-2"
                                        >
                                            Goal
                                        </h4>
                                        <h2 class="color-blue">
                                            Our Objectives
                                        </h2>
                                        <br />
                                        <div>
                                            By April 10th of 2020, we will have
                                            delivered on at least 5 testable
                                            hypotheses By April 25th of 2020, we
                                            will have developed one minimum
                                            viable product to help fight the
                                            virus.
                                        </div>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-hover>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <v-container>
            <div class="text-xs-center pb-big">
                <v-layout row px5 class="">
                    <v-flex class="pt-5">
                        <h2>Thanks for supporting</h2>
                        <p>
                            We would like to thank everyone for supporting our
                            efforts and being part of Project Athena
                        </p>
                    </v-flex>
                </v-layout>
            </div>
        </v-container>
        <home-footer></home-footer>
    </span>
</template>

<script>
import HomeHero from '@/components/HomeHero';
import HomeFooter from '@/components/HomeFooter';

export default {
    name: 'about',
    components: {
        HomeHero,
        HomeFooter
    }
};
</script>

<style>
.values {
    background: url('../assets/img/values.png') no-repeat;
    background-size: contain;
    width: 100%;
    position: relative;
    bottom: 0;
}
</style>
