<template>
    <span>
        <home-hero
            headline="Slack guidelines"
            text="We operate via Slack for all communication on the projects. We
                ask anyone who would like to join to please read through our
                Slack guidelines"
            button="false"
            paddinghero
        ></home-hero>
        <v-container>
            <h1></h1>
            <div class="font-normal">
                Slack is our communication channel and we do not store any
                documents or data If there is something that is bothering you
                about Slack or our tooling, please refer to the “Improvements”
                channel or discuss matters in relevant channels We do not use
                Slack for documentation purposes, documentation is done on this
                website or other sites that we link in the channel The
                "announcements" Slack channel is for announcements only.
                Announcements are done by the Athena committee. Discussions
                happen in more specific channels. There are two general channels
                for you to get guidance and help: questions_and_answers for any
                kind of information based on your questions improvements for
                suggestions and discussions around project Athena and how to
                improve it. Links - “Join Now” | “Skills Needed” THANKS FOR YOUR
                SUPPORT SLACK (LOGO)
            </div>
        </v-container>

        <home-footer></home-footer>
    </span>
</template>

<script>
import HomeHero from '@/components/HomeHero';
import HomeFooter from '@/components/HomeFooter';

export default {
    name: 'slack-guidelines',
    components: {
        HomeHero,
        HomeFooter
    }
};
</script>
