.font-normal {
    font-family: CircularStd-Book;
    font-size: 1.5rem;
}

.font-normal-1 {
    font-family: CircularStd-Book;
    font-size: 1rem;
}

.font-bold {
    font-family: CircularStd-Bold;
}

.font-white {
    color: white;
}

h1 {
    font-family: CircularStd-Bold;
    font-size: 3rem;
    line-height: 1.2;
    color: white;
}

h2 {
    font-family: CircularStd-Bold;
}

div {
    font-family: CircularStd-Book;
}

@media only screen and (max-width: 960px) {
.cust-mt {
    margin-top: 10em
}
}

@media only screen and (min-width: 960px) {
    .cust-mt {
        margin-top: 0;
    }
    }

@media only screen and (max-width: 960px) {
.mobile-show {
    display: block;
}
.mobile-hide {
    display: none;
}
}

@media only screen and (min-width: 960px) {
    .mobile-show {
        display: none;
    }
    .mobile-hide {
        display: block;
    }
    }

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.3rem;
        margin-top: 2em;
    }
}

h2 {
    font-size: 2.5rem;
}

.rounded-card {
    border-radius: 15px;
    height: 400px !important;
}

.rounded-card-text-1{
  margin-top:9.5vh;
  padding-left:5.5%;
}

.rounded-card-text-2{
  margin-top:9.5vh;
  padding-left:5%;
}

.rounded-card-text-3{
  margin-top:9.5vh;
  padding-left:6%;
}

.rounded-card-text-4{
  margin-top:9.5vh;
  padding-left:6%;
}

.rounded-custom-text-base{
  display:inline-block;
  background-color:rgb(229,250,238);
  border-radius: 25px;
  padding-left:3.5%;
  padding-right:3.5%;
  padding-top: 3px;
  padding-bottom: 3px;
  color:rgb(66,216,139);
}

.rounded-custom-text-1{
  display:inline-block;
  background-color:rgb(229,250,238);
  border-radius: 25px;
  padding-left:3.5%;
  padding-right:3.5%;
  padding-top: 3px;
  padding-bottom: 3px;
  color:rgb(66,216,139);
}

.rounded-custom-text-2{
  display:inline-block;
  background-color:rgb(229,250,238);
  border-radius: 25px;
  padding-left:10%;
  padding-right:10%;
  padding-top: 3px;
  padding-bottom: 3px;
  color:rgb(66,216,139);
}
.rounded-custom-text-3{
  display:inline-block;
  background-color:rgb(229,250,238);
  border-radius: 25px;
  padding-left:14%;
  padding-right:14%;
  padding-top: 3px;
  padding-bottom: 3px;
  color:rgb(66,216,139);
}
.rounded-custom-text-4{
  display:inline-block;
  background-color:rgb(229,250,238);
  border-radius: 25px;
  padding-left:12%;
  padding-right:12%;
  padding-top: 3px;
  padding-bottom: 3px;
  color:rgb(66,216,139);
}
.bg-white {
    background: #ffffff;
}

@media only screen and (max-width: 768px) {
.padding-hero {
    padding-top: 25em;
}
}

.mb-big {
    margin-bottom: 10em;
}

.pb-big {
    padding-bottom: 10em;
}

@media only screen and (min-width: 768px) {
.v-card__text {
    overflow-y: auto; height:200px
}
}
@font-face {
    font-family: 'CircularStd-Book';
    src: url('../fonts/CircularStd-Book.woff') format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
    font-display: auto;
}

@media only screen and (max-width: 799px) {

.video-container {
  position: relative;
  height: 50vh !important;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  background-image: url("../img/YoutubeBackgroundImage.svg");
  background-repeat: no-repeat;
  background-size: 95vw 50vh;
}

}

@media only screen and (min-width: 800px) {

.video-container {
  position: relative;
  height: 50vh !important;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  background-image: url("../img/YoutubeBackgroundImage.svg");
  background-repeat: no-repeat;
  background-size: 100vw 70vh;
  background-position: left;
}

}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 25vh;
  left: 24.8vw;
  width: 50vw;
  height: 60vh;
}

.title-text{
    color:rgb(46,142,227);
    position: absolute;
    text-align:center;
    top: 10vh;
    left: 24.8vw;
    width: 50vw;
}

.title-text-cards{
    color:rgb(46,142,227);
    position:relative;
    display:block;
    text-align:center;
}
.sub-title-text-cards{
    color:rgb(69,96,145);
    position:relative;
    display:block;
    text-align:center;
}

.color-blue{
  color:rgb(46,142,227);
}

.btn-view-all-projects{
  position:relative;
  display:block;
  margin-left:40.75vw;
  margin-top:5vh;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(46,142,227);
  color: rgb(46,142,227) !important;
  text-transform: none;
  padding-top:0.5%;
}

.btn-view-all-projects:hover{
  transform: translateY(10px);
}

.not-rounded-card-how{
  height:400px !important
}

.list-about{
  list-style: none;
  padding:0
}
.margin-sides-4{
  margin-left:4% !important;
  margin-right:4% !important;
}